*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#f8fafc,#dbeafe);
}

.container{
    width:420px;
    padding:25px;
    background:white;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.1);
    text-align:center;
}

h1{
    color:#334155;
    margin-bottom:20px;
}

.scoreboard{
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
    font-weight:600;
    color:#475569;
}

#status{
    margin-bottom:20px;
    font-size:18px;
    font-weight:bold;
    color:#2563eb;
}

.board{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:10px;
}

.cell{
    height:100px;
    background:#f1f5f9;
    border-radius:12px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:42px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.cell:hover{
    background:#e2e8f0;
    transform:scale(1.05);
}

.x{
    color:#2563eb;
}

.o{
    color:#ec4899;
}

.winner{
    background:#bbf7d0 !important;
}

.buttons{
    margin-top:20px;
    display:flex;
    gap:10px;
}

button{
    flex:1;
    padding:12px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
    font-weight:600;
}

#restartBtn{
    background:#2563eb;
    color:white;
}

#resetBtn{
    background:#ef4444;
    color:white;
}

button:hover{
    opacity:0.9;
}